.special {
    font-family:"Playfair Display", serif; font-weight:400;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    }

    .red {

        color: #c50000;

        }